*, *:before, *:after {
    box-sizing: border-box;
 }
 
body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color: rgb(41, 17, 18);
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
}
/* BYT TILL ODEFINIERAD HÖJD 
Possistion absolute - text över bild.*/

nav a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    padding: 2rem;
    transition: color 0.5s;   
}

nav a:hover{
    color: rgb(235, 15, 187);
}

h4{
    margin-bottom: 5px;
    margin-top: 15px;
    font-family: 'DM Serif Text', serif;
}

.kompetenser{
    background-image: url(img/hero-viveka-sjolund@1500px.jpg); max-width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    padding: 15%;
} 

.kompetenser article{
    display: flex;
    justify-content: center;
    align-items: center;  
    
}

.kompetenser li{
    list-style: none;
    font-family: 'DM Serif Text', serif;
    color: white;
    line-height: 150%;
    font-size: 20px;
    letter-spacing: 200%;
}

/* ----------- ARBETE --------- */


.arbete{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.arbete article {
    width: 50%;
    padding: 5%;
}

.arbete ul {
    padding: 0;

}

li {
    list-style: none;
}

/* ----------- UTBILDNING --------- */

.utbildning{
    background-color: rgb(117, 117, 117);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10%;
}

.utbildning article{
    padding: 50px;
}

/* ----------- KONTAKT --------- */

.kontakt{
    background-color: white;
    padding: 2.5rem;
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;  
}

form {
    display: flex;
    flex-direction: column;
    
}
    
label {
    margin: 20px 0px;
}
#email, #name{
    background-color: rgb(206, 206, 206);
    border-radius: 3px;
    border-style: none;
    width: 300px;
    padding: 10px;
}

#message-ruta{
    background-color: rgb(34, 142, 237);
    color: #000000;
    border-radius: 3px;
    width: 300px;
    height: 130px;
    padding: 10px;
    margin-top: 0;
    border-style: none;
}

.myButton{
    margin: 30px 0;
    background-color:#ffffff;
    border-radius:3px;
    border:2px solid rgb(206, 206, 206);
    display:inline-block;
    color:#000000;
    font-size:12px;
    font-weight: bold;
    text-align: center;
    padding:12px 40px;
    text-decoration:none;  
    transition: background-color 0.3s;
}  


.myButton:hover{
    background-color:  rgb(235, 84, 15)
}



/* ----------- OM MIG --------- */


.om-mig{
    background-image: url(img/om_BW2@1500px.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row-reverse;
    padding: 8%;
} 

.om-mig article {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    font-size: 20px;
    border-radius: 5px;
}



h1 {
    font-family: 'DM Serif Text', serif;
    font-size: 40px;
    font-weight: lighter;
    font-style: italic;
    margin-top: 5px;
}

h2 {
    font-family: 'DM Serif Text', serif;
    margin-top: 0px;
}



.barock {
    display: flex;
    margin: 50px;
}


.barock-content {
    display: flex;
    flex-direction: column;
    margin: 0px 50px;

}

a {
    text-decoration: none;
}

a:visited { 
    color: rgb(255, 255, 255);
  }

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: rgb(41, 17, 18);
}

footer p{
    padding: 30px;
    color: #ffffff;
}



































